{% extends "layout.html" %}

{% block title %}Chat App{% endblock %}

{% block link %}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index2.js') }}"></script>
{% endblock %}


{% block heading %}My Chat Application{% endblock %}


{% block body %}
        <script type="text/javascript">

            const temp = `{{ username|e }}`;

            if (temp){
            var username = temp;
            localStorage.setItem("username",temp)};

            else if (!temp){
            var username = localStorage.getItem("username")
            }



        </script>


        <!--Nav Bar-->
        <nav>

        </nav>
        <!--Logout-->
        <div>
            <form action="{{url_for('start')}}">
            <div class="form-group">
                <button class="btn btn-primary">
                    Logout
                </button>
            </div>
            </form>
        </div>

        <!--Body-->
        <div class="main-section">

             <!--Channel area-->
            <div class="left-area">

                <h3 id="channel-header">
                    Channels
                </h3>

                <div id="message-flash">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}

                            <small id="email" class="flashes">
                                {{messages[0]}}
                            </small>
                        {% endif %}
                    {% endwith %}
                </div>

                <div id="notification_section">
                </div>

                <div id="channel-form">
                    <form id="addchannel" action="{{url_for('channel')}}" method="post">
                        <input type="text" name="usr-channel" placeholder="Add Channel" autocomplete="off">
                        <button id="add-channel">
                            Add Channel
                        </button>
                        <br>
                        <br>
                    </form>
                </div>


                <div id="list_of_channels">
                    {% for channel in channels %}
                        <li class="user_channel">
                            {{ channel|title }}
                        </li>
                        <br>
                    {% endfor %}
                </div>

            </div>


              <!--Message area-->
            <div class="right-area">

                <div id="message-area">
                </div>
                <div class="textsend-area">
                    <!--<div id="textbox">-->
                    <textarea id="usertext" type="text" ></textarea>
                    <!--</div>-->
                    <!--<div id="send_button">-->
                        <button id="send" type="text" placeholder="Enter Message">
                            Send
                        </button>
                    <!--</div>-->
                </div>
            </div>

        </div>

{% endblock %}





